<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/bundles/masterCss">
   <include path="~/Content/validationEngine.jquery.css" />
    <include path="~/Content/toastr.min.css" />
    <!--<include path="~/Content/Bootstrap.FontAwsome.css" />-->
    <include path="~/Content/mediaQuery.css" />
    <include path="~/Content/site-font.css" />
  </styleBundle>
</bundles>